body {  
  background: rgb(238,174,202);
  background: linear-gradient(90deg, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
  padding: 50px;
}

.App {
  text-align: center;
}

h1,p {
  color: black;
}

.baseCurrencyText {
  color: #575b5f;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 16px;
}

.rateCurrencyText {
  color: #202124;
  font-family: Google sans, Arial, sans-serif;
  font-weight: normal;
  font-size: 36px;
  margin-bottom: 0px;
}

.date {
  color: #575b5f;
  margin-bottom: 16px;
  font-size: 12px;
}

